html, body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 17px;
}
body {
    position: absolute;
    margin: none;
    padding: none;
    overflow: hidden;
}

canvas {
    margin: 0 auto;
    position: relative;
    display: block;
}

#container {
    position: relative;
}

#ui-window {
    background-color: rgba(78, 78, 78, 0.4);
    position: absolute;
    padding: 20px;
    width: 240px;
    height: 280px;
    top: 20px;
    right: 20px;
    z-index: 1;
    border-radius: 20px;
}

#ui-window > * {
    margin: 0 auto;
    display: block;
    margin-bottom: 17px;
}

#spiral-dropdown_ms {
    vertical-align: middle;
}

#spiral-icon {
    width: 30px;
    height: 30px;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

#spiral-dropdown_ms :nth-child(2) {
    vertical-align: middle;
    position: relative;
    top: 11px;
}

#spiral-dropdown_ms :nth-child(3) {
    vertical-align: middle;
    position: relative;
    top: -7px;
}

#batch-container {
    display: block;
    padding-left: 10px;
    padding-right: 20px;
}

#batch-container input {
    width: 40px;
}

#batch-container label {
    color: white;
}

#size-container input {
    width: 40px;
    position: relative;
}

#size-container label {
    color: white;
}

#spinner-container {
    display: flex;
}

.ui-icon-github { 
    background-image: url(images/github.svg) !important; 
}

.ui-icon-wiki { 
    background-image: url(images/wiki.svg) !important; 
}

#bottom-btns {
    position: absolute;
    bottom: 0;
    right: 15px;
    width: 250px;
}

#reset-btn {
    position: relative;
    left: auto;
    margin-right: 16px;
}

.ui-dialog {
    opacity: .70;
}

#number-values {
    position: relative;
    display: flex;
    color: white;
    bottom: 0;
}

#total-value {
    right: 0;
    position: absolute;
}

#upper-btns {
    position: absolute;
    right: 25px;
    top: 0px;
}

#container-btns {
    position: absolute;
    display: none;
    right: 10px;
    top: 5px;
    z-index: 2;
}